@charset "UTF-8";
/* Font styles. */
/* line 2, ../sass/style.sass */
body {
  margin: 0;
  /* Setting up font size, leading and font family
   * http://www.markboulton.co.uk/journal/comments/five-simple-steps-to-better-typography */
  font: 13px/1.5em "Microsoft Yahei", "Helvetica Neue", helvetica, Arial, sans-serif;
  letter-spacing: 0.03em;
  background: #b38247;
  color: #694c29;
}

/* Links */
/* line 13, ../sass/style.sass */
a {
  font-size: 12px;
  color: #694c29;
  text-decoration: none;
}
/* line 17, ../sass/style.sass */
a:link, a:visited {
  color: #694c29;
  text-decoration: none;
}

/* line 22, ../sass/style.sass */
a:hover, a:active {
  color: red;
  text-decoration: none;
}

/* Titles. */
/* line 27, ../sass/style.sass */
#site-name {
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

/* line 34, ../sass/style.sass */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
}

/* line 37, ../sass/style.sass */
h1 {
  font-size: 2.2em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

/* line 43, ../sass/style.sass */
h2 {
  font-size: 1.8em;
  font-weight: 300;
  margin-bottom: 0.75em;
}

/* line 48, ../sass/style.sass */
h3 {
  font-size: 1.4em;
  margin-bottom: 1em;
}

/* line 52, ../sass/style.sass */
h4 {
  font-size: 1.2em;
  margin-bottom: 0.8em;
}

/* line 56, ../sass/style.sass */
h5 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0;
}

/* line 61, ../sass/style.sass */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* Paragraph styles. */
/* line 66, ../sass/style.sass */
p {
  margin: 0 0 0.5em 0;
}

/* List styles. */
/* line 70, ../sass/style.sass */
ul, ol {
  margin-left: 0;
  padding-left: 2em;
}

/* Table styles. */
/* line 75, ../sass/style.sass */
table {
  width: 99%;
}

/* line 80, ../sass/style.sass */
tr.even td,
tr.odd td {
  padding: 10px 5px;
}

/* line 83, ../sass/style.sass */
tr.odd, tr.even {
  background-color: transparent;
}

/* Code. */
/* line 87, ../sass/style.sass */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 91, ../sass/style.sass */
pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa;
}

/* List styles. */
/* line 99, ../sass/style.sass */
ul {
  list-style-type: none;
}
/* line 101, ../sass/style.sass */
ul ul {
  list-style-type: circle;
}
/* line 103, ../sass/style.sass */
ul ul ul {
  list-style-type: square;
}
/* line 105, ../sass/style.sass */
ul ul ul ul {
  list-style-type: circle;
}

/* line 108, ../sass/style.sass */
ol {
  list-style-type: decimal;
}
/* line 110, ../sass/style.sass */
ol ol {
  list-style-type: lower-alpha;
}
/* line 112, ../sass/style.sass */
ol ol ol {
  list-style-type: decimal;
}

/* Abbreviation. */
/* line 116, ../sass/style.sass */
abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap;
}

/* UI improvments. */
/* line 122, ../sass/style.sass */
#edit-title {
  font-size: 24px;
  width: 99%;
}

/* line 126, ../sass/style.sass */
#system-themes-form img {
  width: 100px;
}

/* line 129, ../sass/style.sass */
.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777777;
}

/* line 136, ../sass/style.sass */
#edit-delete {
  color: #cc0000;
}

/* Console, style from slate theme. */
/* line 140, ../sass/style.sass */
div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #003366;
  background: #bbddff;
  border: 1px solid #aaccee;
}

/* line 147, ../sass/style.sass */
div.warning {
  color: #884400;
  background: #ffee66;
  border-color: #eedd55;
}

/* line 152, ../sass/style.sass */
div.error {
  color: white;
  background: #ee6633;
  border-color: #dd5522;
}

/* line 157, ../sass/style.sass */
div.status {
  color: #336600;
  background: #ccff88;
  border-color: #bbee77;
}

/* Region Colors. delete when starting a new theme. */
/*  background: #efefef */
/* line 166, ../sass/style.sass */
#sidebar-first {
  background: #e7edff;
}

/* line 169, ../sass/style.sass */
#sidebar-second {
  background: #ffd075;
}

/* line 172, ../sass/style.sass */
#navigation {
  background: #feffa5;
}

/* line 13, ../sass/_custom.scss */
.front #page {
  background: url(../images/bg.jpg) no-repeat;
  min-height: 773px;
}
/* line 17, ../sass/_custom.scss */
.front h2 {
  font-size: 16px;
}
/* line 20, ../sass/_custom.scss */
.front .header, .front .layout_content, .front .footer {
  width: 100%;
  float: left;
}
/* line 24, ../sass/_custom.scss */
.front #header {
  background: url(../images/index02.jpg) no-repeat right top;
  height: 282px;
}
/* line 27, ../sass/_custom.scss */
.front #header .logo {
  width: 200px;
  padding: 95px 20px 0;
  float: left;
  text-align: center;
}
/* line 32, ../sass/_custom.scss */
.front #header .logo li {
  padding: 3px;
}
/* line 35, ../sass/_custom.scss */
.front #header .logo li.zh-hans {
  float: left;
  margin-left: 35px;
}
/* line 39, ../sass/_custom.scss */
.front #header .logo li.zh-hans:after {
  content: " |";
}
/* line 42, ../sass/_custom.scss */
.front #header .logo li.en {
  float: left;
}
/* line 46, ../sass/_custom.scss */
.front #header .index_titles {
  float: left;
  margin: 110px 0 0 45px;
}
/* line 51, ../sass/_custom.scss */
.front .left_box {
  width: 680px;
  float: left;
  margin-left: 15px;
  display: inline;
}
/* line 56, ../sass/_custom.scss */
.front .left_box .common {
  width: 100%;
  float: left;
}
/* line 61, ../sass/_custom.scss */
.front .left_box .block-menu {
  background: url(../images/menu.png);
  width: 190px;
  float: left;
  height: 291px;
}
/* line 66, ../sass/_custom.scss */
.front .left_box .block-menu ul {
  margin-top: 10px;
  float: left;
  width: 100%;
  padding-left: 0;
}
/* line 72, ../sass/_custom.scss */
.front .left_box .block-menu li {
  background: url(../images/menuline.png) no-repeat 20px 23px;
  height: 25px;
  line-height: 25px;
  float: left;
  margin: 0px;
  padding: 0px;
}
/* line 79, ../sass/_custom.scss */
.front .left_box .block-menu li a {
  width: 165px;
  float: left;
  padding-left: 25px;
  font-size: 13px;
  color: #694C29;
}
/* line 87, ../sass/_custom.scss */
.front .left_box .block-menu li a:hover, .front .left_box .block-menu li a.active {
  background: url(../images/ahover.jpg) repeat-y 2px 0;
  float: left;
  color: white;
  height: 23px;
  width: 165px;
}
/* line 96, ../sass/_custom.scss */
.front .left_box .block-ddblock {
  float: left;
  margin-left: 10px;
}
/* line 99, ../sass/_custom.scss */
.front .left_box .block-ddblock h2 {
  color: white;
}
/* line 101, ../sass/_custom.scss */
.front .left_box .block-ddblock h2 a {
  font-size: 16px;
}
/* line 106, ../sass/_custom.scss */
.front .left_box .announcement {
  margin-top: 15px;
  width: 190px;
  height: 128px;
  float: left;
}
/* line 112, ../sass/_custom.scss */
.front .left_box .schedule {
  margin-top: 15px;
  width: 450px;
  height: 128px;
  float: left;
  margin-left: 10px;
  display: inline;
}
/* line 119, ../sass/_custom.scss */
.front .left_box .schedule .views-row {
  width: 450px;
  border-bottom: 1px dotted #B38247;
}
/* line 123, ../sass/_custom.scss */
.front .left_box .schedule .views-field-field-time {
  float: right;
}
/* line 127, ../sass/_custom.scss */
.front .left_box .video {
  margin-top: 15px;
  width: 190px;
  height: 128px;
  float: left;
  margin-left: 40px;
}
/* line 134, ../sass/_custom.scss */
.front .right_box {
  width: 275px;
  float: left;
  margin-left: 10px;
}
/* line 138, ../sass/_custom.scss */
.front .right_box #block-views-update-block {
  height: 288px;
}
/* line 140, ../sass/_custom.scss */
.front .right_box #block-views-update-block .block-title {
  margin: 10px 0;
}
/* line 143, ../sass/_custom.scss */
.front .right_box #block-views-update-block li {
  margin: 0;
}
/* line 145, ../sass/_custom.scss */
.front .right_box #block-views-update-block li a {
  width: 275px;
  padding-left: 0px;
  float: left;
  line-height: 23px;
  border-bottom: 1px dotted #B38247;
}
/* line 152, ../sass/_custom.scss */
.front .right_box #block-views-update-block li .node-191 a {
  color: red;
  font-size: 13px;
}
/* line 156, ../sass/_custom.scss */
.front .right_box #block-views-update-block li .node-200 a {
  color: red;
  font-size: 13px;
}
/* line 162, ../sass/_custom.scss */
.front .right_box .back {
  margin-top: 10px;
}
/* line 164, ../sass/_custom.scss */
.front .right_box .back h2 a {
  font-size: 16px;
}
/* line 169, ../sass/_custom.scss */
.front .jiathis_style_fp {
  float: right;
  margin-top: 15px;
  margin-right: 35px;
}
/* line 174, ../sass/_custom.scss */
.front .org {
  float: left;
  display: inline;
  margin-left: 15px;
  margin-top: 15px;
  color: black;
}

/* line 185, ../sass/_custom.scss */
#header li {
  padding: 3px;
}
/* line 188, ../sass/_custom.scss */
#header li.zh-hans {
  float: left;
  margin-left: 35px;
}
/* line 192, ../sass/_custom.scss */
#header li.zh-hans:after {
  content: " |";
}
/* line 195, ../sass/_custom.scss */
#header li.en {
  float: left;
}

/* line 200, ../sass/_custom.scss */
.jiathis_style_in {
  float: right;
  margin-top: 0px;
  margin-right: 35px;
  margin-bottom: 15px;
  clear: both;
}

/* line 208, ../sass/_custom.scss */
#footer {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}
/* line 212, ../sass/_custom.scss */
#footer .copy {
  width: 1002px;
  margin: 0 auto;
  text-align: center;
  height: 36px;
  line-height: 36px;
  background: #3F3426;
  color: white;
}

/* line 223, ../sass/_custom.scss */
#header {
  height: 173px;
  width: 100%;
}

/* line 228, ../sass/_custom.scss */
.logo {
  width: 200px;
  padding: 15px 20px 0;
  text-align: center;
}
/* line 232, ../sass/_custom.scss */
.logo li {
  padding: 3px;
}

/* line 241, ../sass/_custom.scss */
#block-menu_block-1 {
  background: url(../images/menu.png);
  width: 190px;
  height: 291px;
}
/* line 245, ../sass/_custom.scss */
#block-menu_block-1 ul {
  margin-top: 10px;
  float: left;
  width: 100%;
  padding-left: 0;
}
/* line 251, ../sass/_custom.scss */
#block-menu_block-1 li {
  background: url(../images/menuline.png) no-repeat 20px 23px;
  height: 25px;
  line-height: 25px;
  float: left;
  margin: 0px;
  padding: 0px;
}
/* line 258, ../sass/_custom.scss */
#block-menu_block-1 li a {
  text-indent: 1em;
  width: 165px;
  float: left;
  padding-left: 25px;
  font-size: 13px;
  color: #694C29;
}
/* line 266, ../sass/_custom.scss */
#block-menu_block-1 li a:hover, #block-menu_block-1 li a.active {
  background: url(../images/ahover.jpg) repeat-y 2px 0;
  float: left;
  color: white;
  height: 23px;
  width: 165px;
}

/* line 276, ../sass/_custom.scss */
ul li.expanded {
  list-style-image: none;
  list-style-type: none;
}

/* line 283, ../sass/_custom.scss */
#content-inner {
  padding-top: 1px;
  color: white;
  min-height: 580px;
  margin-bottom: 20px;
  background: url(../images/common.png) 0px no-repeat;
  _background: #A87C48;
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="../images/common.png");
}
/* line 292, ../sass/_custom.scss */
#content-inner #content-header {
  padding: 1px 35px 1px 35px;
}
/* line 294, ../sass/_custom.scss */
#content-inner #content-header h1 {
  font-size: 18px;
  font-family: 黑体;
  margin-top: 20px;
  text-align: center;
}
/* line 301, ../sass/_custom.scss */
#content-inner #content-area {
  padding: 10px 20px 0 35px;
  font-size: 13px;
  height: 485px;
  overflow: auto;
  width: 694px;
}
/* line 307, ../sass/_custom.scss */
#content-inner #content-area p {
  text-indent: 2em;
}
/* line 310, ../sass/_custom.scss */
#content-inner #content-area .view-update {
  width: 630px;
  margin-top: 30px;
}
/* line 313, ../sass/_custom.scss */
#content-inner #content-area .view-update a:link, #content-inner #content-area .view-update a:visited {
  color: white;
  font-size: 14px;
}
/* line 317, ../sass/_custom.scss */
#content-inner #content-area .view-update .views-row {
  border-bottom: 1px dotted white;
  margin-bottom: 10px;
}
/* line 321, ../sass/_custom.scss */
#content-inner #content-area .view-update span.views-field-changed {
  float: right;
}
/* line 325, ../sass/_custom.scss */
#content-inner #content-area span.submitted {
  display: block;
  text-align: center;
}
/* line 334, ../sass/_custom.scss */
#content-inner h2, #content-inner h3, #content-inner h4 {
  margin-top: 0.8em;
  margin-bottom: 0px;
}
/* line 337, ../sass/_custom.scss */
#content-inner h2 a, #content-inner h3 a, #content-inner h4 a {
  font-size: 14px;
  color: white;
}

/* line 344, ../sass/_custom.scss */
ul li.leaf {
  list-style: none;
}

/* line 347, ../sass/_custom.scss */
ul li {
  list-style: none;
}

/* line 352, ../sass/_custom.scss */
.page-node-38 #page {
  background: url(../images/about.jpg) no-repeat #ceb08a;
}

/* line 355, ../sass/_custom.scss */
.page-organization #page {
  background: url(../images/organization.jpg) no-repeat #ceb08a;
}

/* line 358, ../sass/_custom.scss */
.page-news #page {
  background: url(../images/news.jpg) no-repeat #ceb08a;
}

/* line 361, ../sass/_custom.scss */
.page-schedule #page {
  background: url(../images/schedule.jpg) no-repeat #ceb08a;
}

/* line 364, ../sass/_custom.scss */
.page-performance #page {
  background: url(../images/performance.jpg) no-repeat #ceb08a;
}

/* line 367, ../sass/_custom.scss */
.page-forum #page {
  background: url(../images/forum.jpg) no-repeat #ceb08a;
}

/* line 370, ../sass/_custom.scss */
.page-masterclass #page {
  background: url(../images/masterclass.jpg) no-repeat #ceb08a;
}

/* line 373, ../sass/_custom.scss */
.page-history #page {
  background: url(../images/history.jpg) no-repeat #ceb08a;
}

/* line 376, ../sass/_custom.scss */
.page-node-111 #page {
  background: url(../images/taijiaward.jpg) no-repeat #ceb08a;
}

/* line 379, ../sass/_custom.scss */
.page-node-190 #page {
  background: url(../images/activity.jpg) no-repeat #ceb08a;
}

/* line 384, ../sass/_custom.scss */
.page-performanced {
  background: url(../images/performance.jpg) no-repeat #ceb08a;
}

/* line 387, ../sass/_custom.scss */
.page-forumd {
  background: url(../images/forum.jpg) no-repeat #ceb08a;
}

/* line 390, ../sass/_custom.scss */
.page-masterclassd {
  background: url(../images/masterclass.jpg) no-repeat #ceb08a;
}

/* line 393, ../sass/_custom.scss */
.page-newsd {
  background: url(../images/news.jpg) no-repeat #ceb08a;
}

/* line 396, ../sass/_custom.scss */
.page-historyd {
  background: url(../images/history.jpg) no-repeat #ceb08a;
}

/* line 399, ../sass/_custom.scss */
.page-lectured {
  background: url(../images/lecture.jpg) no-repeat #ceb08a;
}

/* line 402, ../sass/_custom.scss */
.page-activityd {
  background: url(../images/activity.jpg) no-repeat #ceb08a;
}

/* line 410, ../sass/_custom.scss */
.view-performance table a, .view-academy table a {
  font-size: 14px;
  color: white;
}
/* line 414, ../sass/_custom.scss */
.view-performance table caption, .view-academy table caption {
  font-size: 16px;
  margin: 20px 0px;
}

/* line 422, ../sass/_custom.scss */
ul li.collapsed {
  list-style-image: none;
  list-style-type: none;
}

/* line 434, ../sass/_custom.scss */
.jspDrag {
  background: #976425;
}

/* line 439, ../sass/_custom.scss */
.page-schedule #content-inner #content-area {
  height: 540px;
  padding: 10px 0px 0 5px;
  width: 755px;
}
/* line 445, ../sass/_custom.scss */
.page-schedule #content-inner #content-area .region-content td.multi-day a {
  color: white;
  font-size: 12px;
}
/* line 450, ../sass/_custom.scss */
.page-schedule #content-inner #content-area .region-content td.today {
  background: white;
}

/* line 459, ../sass/_custom.scss */
.page-masterclass table th.views-field-title {
  width: 350px;
}
/* line 462, ../sass/_custom.scss */
.page-masterclass table .item-list ul li {
  margin-left: 0px;
}

/* line 469, ../sass/_custom.scss */
.page-organization #content-inner #content-header {
  padding-top: 20px;
}

/* line 477, ../sass/_custom.scss */
.node-type-event #content-inner #content-area table td {
  padding-left: 10px;
}
/* line 480, ../sass/_custom.scss */
.node-type-event #content-inner #content-area table p {
  text-indent: 0;
}

/* line 489, ../sass/_custom.scss */
.page-node-133 #content-inner #content-area {
  height: 470px;
}
/* line 491, ../sass/_custom.scss */
.page-node-133 #content-inner #content-area table p {
  text-indent: 0;
  margin-left: 10px;
}
/* line 497, ../sass/_custom.scss */
.page-node-133 #content-inner #content-header .breadcrumb {
  padding-bottom: 0;
}
/* line 499, ../sass/_custom.scss */
.page-node-133 #content-inner #content-header .breadcrumb a {
  color: white;
  font-size: 14px;
}

/* line 508, ../sass/_custom.scss */
.page-node-190 #content-area a {
  color: white;
}

/* line 513, ../sass/_custom.scss */
.breadcrumb {
  padding-bottom: 0;
}
/* line 515, ../sass/_custom.scss */
.breadcrumb a {
  color: white;
  font-size: 14px;
}

/* line 524, ../sass/_custom.scss */
.page-node-92 #content-area h2 {
  margin-left: 20px;
}
/* line 527, ../sass/_custom.scss */
.page-node-92 #content-area h2 a {
  float: left;
  width: 84px;
  height: 40px;
  text-align: center;
  font-size: 16px;
  background: url(../images/a01.jpg) no-repeat;
}
/* line 535, ../sass/_custom.scss */
.page-node-92 #content-area h2 a:hover {
  background: url(../images/a02.jpg) no-repeat;
}
/* line 539, ../sass/_custom.scss */
.page-node-92 #content-area #block-views-speech_list-block {
  float: left;
  clear: both;
  width: 500px;
}
/* line 543, ../sass/_custom.scss */
.page-node-92 #content-area #block-views-speech_list-block a {
  color: white;
}
/* line 546, ../sass/_custom.scss */
.page-node-92 #content-area #block-views-speech_list-block h2 {
  margin: 20px 0 20px 0;
  font-size: 18px;
  border-bottom: 1px solid;
}
/* line 551, ../sass/_custom.scss */
.page-node-92 #content-area #block-views-speech_list-block .panel-col-first {
  width: 120px;
}
/* line 554, ../sass/_custom.scss */
.page-node-92 #content-area #block-views-speech_list-block .views-field-field-people-image {
  float: left;
}
/* line 557, ../sass/_custom.scss */
.page-node-92 #content-area #block-views-speech_list-block .views-field-title {
  float: left;
}
/* line 560, ../sass/_custom.scss */
.page-node-92 #content-area #block-views-speech_list-block .views-field-name-field {
  float: left;
  clear: left;
}

/* line 572, ../sass/_custom.scss */
.with-leadingtitle #content-inner #content-header h2 {
  font-size: 14px;
  text-align: center;
}
/* line 577, ../sass/_custom.scss */
.with-leadingtitle #content-inner #content-area {
  height: 460px;
}

/* line 584, ../sass/_custom.scss */
.with-twolinetitle #content-inner #content-area {
  height: 450px;
}

/* line 591, ../sass/_custom.scss */
.field-name-field-video .field-item {
  margin-bottom: 10px;
}
