// Custom
// ------
// This file is used to define custom overrides and
// style changes to be used for building your theme.
// If you wish to use the SCSS syntax, please use this.
// Documentation: http://sass-lang.com/docs/yardoc/_index.html

// Import variables and mixins to be used.
@import "_variables.sass";
@import "_mixins.sass";

.front {
  #page {
    background: url(../images/bg.jpg) no-repeat;
    min-height: 773px;
  }
  h2 {
    font-size: 16px;
  }
  .header, .layout_content, .footer {
    width: 100%;
    float: left;
  }
  #header {
    background: url(../images/index02.jpg) no-repeat right top;
    height: 282px;
    .logo {
      width: 200px;
      padding: 95px 20px 0;
      float: left;
      text-align: center;
      li {
        padding: 3px;
      }
      li.zh-hans {
        float: left;
        margin-left: 35px;
      }
      li.zh-hans:after {
        content: " |";
      }
      li.en {
        float: left;
      }
    }
    .index_titles {
      float: left;
      margin: 110px 0 0 45px;
    }
  }
  .left_box {
    width: 680px;
    float: left;
    margin-left: 15px;
    display: inline;
    .common {
      width: 100%;
      float: left;
    }
  }
  .left_box .block-menu {
    background: url(../images/menu.png);
    width: 190px;
    float: left;
    height: 291px;
    ul {
      margin-top: 10px;
      float: left;
      width: 100%;
      padding-left: 0;
    }
    li {
      background: url(../images/menuline.png) no-repeat 20px 23px;
      height: 25px;
      line-height: 25px;
      float: left;
      margin: 0px;
      padding: 0px;
      a {
        //text-indent: 1em;
        width: 165px;
        float: left;
        padding-left: 25px;
        font-size: 13px;
        color: #694C29;
      }
      a:hover, a.active {
        background: url(../images/ahover.jpg) repeat-y 2px 0;
        float: left;
        color: white;
        height: 23px;
        width: 165px;
      }
    }
  }
  .left_box .block-ddblock {
    float: left;
    margin-left: 10px;
    h2 {
      color: white;
      a {
        font-size: 16px;
      }
    }
  }
  .left_box .announcement {
    margin-top: 15px;
    width: 190px;
    height: 128px;
    float: left;
  }
  .left_box .schedule {
    margin-top: 15px;
    width: 450px;
    height: 128px;
    float: left;
    margin-left: 10px;
    display: inline;
    .views-row {
      width: 450px;
      border-bottom: 1px dotted #B38247;;
    }
    .views-field-field-time {
      float: right;
    }
  }
  .left_box .video {
    margin-top: 15px;
    width: 190px;
    height: 128px;
    float: left;
    margin-left: 40px;
  }
  .right_box {
    width: 275px;
    float: left;
    margin-left: 10px;
    #block-views-update-block {
      height: 288px;
      .block-title {
        margin: 10px 0;
      }
      li {
        margin: 0;
        a {
          width: 275px;
          padding-left: 0px;
          float: left;
          line-height: 23px;
          border-bottom: 1px dotted #B38247;
        }
        .node-191 a {
          color: red;
          font-size: 13px;
        }
        .node-200 a {
          color: red;
          font-size: 13px;
        }
      }
    }
    .back {
      margin-top: 10px;
      h2 a {
        font-size: 16px;
      }
    }
  }
  .jiathis_style_fp {
    float: right;
    margin-top: 15px;
    margin-right: 35px;
  }
  .org {
    float: left;
    display: inline;
    margin-left: 15px;
    margin-top: 15px;
    color: black;
  }
}

//language link
#header {
  li {
    padding: 3px;
  }
  li.zh-hans {
    float: left;
    margin-left: 35px;
  }
  li.zh-hans:after {
    content: " |";
  }
  li.en {
    float: left;
  }
}

.jiathis_style_in {
  float: right;
  margin-top: 0px;
  margin-right: 35px;
  margin-bottom: 15px;
  clear: both;
}

#footer {
  width: 100%;
  float: left;
  margin-bottom: 20px;
  .copy {
    width: 1002px;
    margin: 0 auto;
    text-align: center;
    height: 36px;
    line-height: 36px;
    background: #3F3426;
    color: white;
  }
}

#header {
  height: 173px;

  width: 100%;
}
.logo {
  width: 200px;
  padding: 15px 20px 0;
  text-align: center;
  li {
    padding: 3px;
  }
}

#main {
  //float: left;
}

#block-menu_block-1 {
  background: url(../images/menu.png);
  width: 190px;
  height: 291px;
  ul {
    margin-top: 10px;
    float: left;
    width: 100%;
    padding-left: 0;
  }
  li {
    background: url(../images/menuline.png) no-repeat 20px 23px;
    height: 25px;
    line-height: 25px;
    float: left;
    margin: 0px;
    padding: 0px;
    a {
      text-indent: 1em;
      width: 165px;
      float: left;
      padding-left: 25px;
      font-size: 13px;
      color: #694C29;
    }
    a:hover, a.active {
      background: url(../images/ahover.jpg) repeat-y 2px 0;
      float: left;
      color: white;
      height: 23px;
      width: 165px;
    }
  }
}

ul li.expanded {
list-style-image: none;
list-style-type: none;
}
#content {
  
}
#content-inner {
  padding-top: 1px;
  color: white;
  min-height: 580px;
  margin-bottom: 20px;
  background: url(../images/common.png) 0px no-repeat;

  _background: #A87C48;
  _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true,sizingMethod=scale,src="../images/common.png");
  #content-header {
    padding: 1px 35px 1px 35px;
    h1 {
      font-size: 18px;
      font-family:黑体;
      margin-top: 20px;
      text-align: center;
    }
  }
  #content-area {
    padding: 10px 20px 0 35px;
    font-size: 13px;
    height: 485px;
    overflow: auto;
    width: 694px;
    p {
      text-indent: 2em;
    }
    .view-update{
      width: 630px;
      margin-top: 30px;
      a:link, a:visited {
        color: white;
        font-size: 14px;
      }
      .views-row {
        border-bottom: 1px dotted white;
        margin-bottom: 10px;
      }
      span.views-field-changed {
        float: right;
      }
    }
    span.submitted {
      display: block;
      text-align: center;
    }
  }
  .region-content {
    //height: 490px;
    //width: 480px;
  }
  h2,h3,h4 {
    margin-top: 0.8em;
    margin-bottom: 0px;
    a {
      font-size: 14px;
      color: white;
    }
  }
}

ul li.leaf {
  list-style: none;
}
ul li {
  list-style: none;
}

// Landing page background
.page-node-38 #page {
  background: url(../images/about.jpg) no-repeat #CEB08A;
}
.page-organization #page {
  background: url(../images/organization.jpg) no-repeat #CEB08A;
}
.page-news #page {
  background: url(../images/news.jpg) no-repeat #CEB08A;
}
.page-schedule #page {
  background: url(../images/schedule.jpg) no-repeat #CEB08A;
}
.page-performance #page {
  background: url(../images/performance.jpg) no-repeat #CEB08A;
}
.page-forum #page {
  background: url(../images/forum.jpg) no-repeat #CEB08A;
}
.page-masterclass #page {
  background: url(../images/masterclass.jpg) no-repeat #CEB08A;
}
.page-history #page {
  background: url(../images/history.jpg) no-repeat #CEB08A;
}
.page-node-111 #page {
  background: url(../images/taijiaward.jpg) no-repeat #CEB08A;
}
.page-node-190 #page {
  background: url(../images/activity.jpg) no-repeat #CEB08A;
}

// Node page background (see hook_preprocess_page)
.page-performanced {
  background: url(../images/performance.jpg) no-repeat #CEB08A;
}
.page-forumd {
  background: url(../images/forum.jpg) no-repeat #CEB08A;
}
.page-masterclassd {
  background: url(../images/masterclass.jpg) no-repeat #CEB08A;
}
.page-newsd {
  background: url(../images/news.jpg) no-repeat #CEB08A;
}
.page-historyd {
  background: url(../images/history.jpg) no-repeat #CEB08A;
}
.page-lectured {
  background: url(../images/lecture.jpg) no-repeat #CEB08A;
}
.page-activityd {
  background: url(../images/activity.jpg) no-repeat #CEB08A;
}


// for general tables
.view-performance, .view-academy {
  table {
    a {
    font-size: 14px;
    color: white;
    }
    caption {
      font-size: 16px;
      margin: 20px 0px;
    }
  }
}

//tweak menu collapsed style
ul li.collapsed {
  list-style-image: none;
  list-style-type: none;
}

.front div.ddblock-cycle-navigator10p div.slide-text {
//  background:  transparent url(../images/about.jpg) repeat scroll 0 0!important;
//  position: absolute;
  //filter: alpha(opacity=80);
}

// tweak drag bar color
.jspDrag {
  background: #976425;
}

// for schedule page
.page-schedule #content-inner #content-area {
  height: 540px;
  padding: 10px 0px 0 5px;
  width: 755px;
  .region-content {
    td.multi-day {
      a {
        color: white;
        font-size: 12px;
      }
    }
    td.today {
      background: white;
    }
  }
}

// for masterclass page
.page-masterclass {
  table {
    th.views-field-title {
      width: 350px;
    }
    .item-list ul li {
      margin-left: 0px;
    }    
  }
}

// for organization page
.page-organization #content-inner #content-header {
  padding-top: 20px;
}

// for event page
.node-type-event {
  #content-inner #content-area {
    table {
      td {
        padding-left: 10px;
      }
      p {
        text-indent: 0;
      }
    }
  }
}

// for node 133
.page-node-133 #content-inner {
  #content-area {
    height: 470px;
    table p {
      text-indent: 0;
      margin-left: 10px;
    }
  }
  #content-header {
    .breadcrumb {
      padding-bottom: 0;
      a {
        color: white;
        font-size: 14px;
      }
    }
  }
}

// for node 190
.page-node-190 #content-area a {
  color: white;
}

// breadcrumb
.breadcrumb {
  padding-bottom: 0;
  a {
    color: white;
    font-size: 14px;
  }
}

// for node 92
.page-node-92 {
  #content-area {
    h2 {
      margin-left: 20px;

      a {
        float: left;
        width: 84px;
        height: 40px;
        text-align: center;
        font-size: 16px;
        background: url(../images/a01.jpg) no-repeat;
      }
      a:hover {
        background: url(../images/a02.jpg) no-repeat;
      }
    }
    #block-views-speech_list-block {
      float: left;
      clear: both;
      width: 500px;
      a {
        color: white;
      }
      h2 {
        margin: 20px 0 20px 0;
        font-size: 18px;
        border-bottom: 1px solid;
      }
      .panel-col-first {
        width: 120px;
      }
      .views-field-field-people-image {
        float: left;
      }
      .views-field-title {
        float: left;
      }
      .views-field-name-field {
        float: left;
        clear: left;
      }
    }
  }
}

// for news pages with leadingtitle and subtitle
.with-leadingtitle {
  #content-inner {
    #content-header {
      h2 {
        font-size: 14px;
        text-align: center;
      }
    }
    #content-area {
      height: 460px;
    }
  }
}
.with-twolinetitle {
  #content-inner {
    #content-area {
      height: 450px;
    }
  }
}

//splite multiple video frame
.field-name-field-video .field-item {
  margin-bottom: 10px;
}
