/*!
 * Dynamic display block module template (Drupal 7): navigator10p - Cascading Style Sheet 
 * (c) Copyright Phelsa Information Technology, 2012. All rights reserved.
 * Version 1.0 ( 19-JUN-2012 )
 * Licence: single usage
 */
/********************* container **********************/ 
div.ddblock-cycle-navigator10p div.container{}
div.ddblock-cycle-navigator10p div.container-inner{position:relative;}
/********************* slider **********************/
div.ddblock-cycle-navigator10p div.slider{position:relative;} /* to be able to have pager on slide relative to slider */
div.ddblock-cycle-navigator10p div.slider-inner{
  border: 4px solid white;
  overflow:hidden;
  position:relative;
  visibility:hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
/********************* slide **********************/
div.ddblock-cycle-navigator10p div.slide{
  display:none;
  left:0;
  position:absolute;
  top:0;
}
div.ddblock-cycle-navigator10p div.slide-inner {}
div.ddblock-cycle-navigator10p div.slide-inner img{
  margin:0 !important;
  padding:0 !important;
}
/********************* slide text **********************/
div.ddblock-cycle-navigator10p div.slide-text{
  background:transparent url(images/transparent_bg.png) repeat scroll 0 0!important;
  position:absolute;
  overflow: hidden;
}
div.ddblock-cycle-navigator10p div.slide-text-horizontal{left:0;}
div.ddblock-cycle-navigator10p div.slide-text-vertical{/*bottom:0px;*/top:0px;}
div.ddblock-cycle-navigator10p div.slide-text-top{top:7px;}
div.ddblock-cycle-navigator10p div.slide-text-right{bottom:0;right:60px;}
div.ddblock-cycle-navigator10p div.slide-text-bottom{bottom:7px;}
div.ddblock-cycle-navigator10p div.slide-text-left{bottom:0;left:60px;}
div.ddblock-cycle-navigator10p div.slide-text-inner{padding:10px;}
/********************* slide text - title **********************/
div.ddblock-cycle-navigator10p div.slide-title{}
div.ddblock-cycle-navigator10p div.slide-title-vertical{}
div.ddblock-cycle-navigator10p div.slide-title-horizontal{}
div.ddblock-cycle-navigator10p div.slide-title h2{margin:0;padding:0;}
div.ddblock-cycle-navigator10p div.slide-title h2 a{
  color:#ffffff!important;
  text-decoration:none;
}
div.ddblock-cycle-navigator10p div.slide-title-inner{}
/********************* slide text - body **********************/
div.ddblock-cycle-navigator10p div.slide-body-vertical{}
div.ddblock-cycle-navigator10p div.slide-body-horizontal{}
div.ddblock-cycle-navigator10p div.slide-body-inner{color:#ffffff;}
div.ddblock-cycle-navigator10p div.slide-body-inner p{font-size:12px;margin:0;padding:0;}
div.ddblock-cycle-navigator10p div.slide-body-inner li{float:left;}
div.ddblock-cycle-navigator10p div.slide-body-inner a{color:#ffffff;}
/********************* slide text - read more **********************/
div.ddblock-cycle-navigator10p div.slide-read-more{
  bottom:5px;                            /* To place button 10px from the bottom*/
  position:absolute;                      /* position button absolute with the slidetext-inner */
  right:10px;                             /* To place button 10px from the right*/
  width:100px;                            /* with of the button image */
}
div.ddblock-cycle-navigator10p div.slide-read-more a {
  background:transparent url(images/readmore.png) no-repeat scroll 0 0; /* normal state of button */
  color:#ffffff;
  display:block;
  font-size:12px;
  font-family:Arial,Helvetica,sans-serif;
  font-weight:bold;
  height:24px;                             /* height of the button */
  margin:0 auto;                           /* to place text centered */
  line-height:24px;                        /* to place text verticaly centered - same height as the button */  
  padding-left:0px;                        /* to adjust text from center when needed for button with decoration*/
  text-align:center;                       /* to place text horizontaly centered */
  text-decoration:none;
}
div.ddblock-cycle-navigator10p div.slide-read-more a:hover{
  background:transparent url(images/readmore.png) no-repeat 0 -24px; /* hover state of button */
  color:#ffffff;
}
div.ddblock-cycle-navigator10p div.slide-read-more a:focus{outline:none;}
/********************* number pager **********************/
div.ddblock-cycle-navigator10p div.number-pager {}
div.ddblock-cycle-navigator10p div.number-pager-inner {
  margin:0;
  padding:17px;
}
div.ddblock-cycle-navigator10p div.number-pager ul {
  list-style-type:none;
  margin:0 auto!important;
  padding:0!important;
  display:table;
}
div.ddblock-cycle-navigator10p div.number-pager ul li {
  display:table-cell;
  list-style-type:none!important;
  margin:0;
  padding:0!important;
}
div.ddblock-cycle-navigator10p div.number-pager ul li a.pager-link{
  background:#fff;
  border:1px solid #3B5481;
  display:block;
  float:left;
  height:10px;
  margin:0 5px 0 0;
  padding: 0px;
  text-decoration:none!important;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  width:10px;
}
div.ddblock-cycle-navigator10p div.number-pager ul li a.activeSlide{
  background-color: #1F6899;
  border: 1px solid black;
}
div.ddblock-cycle-navigator10p div.number-pager ul li a:focus{outline:none;}
div.ddblock-cycle-navigator10p div.number-pager ul li a.pager-link:hover{
  background-color: #91C3EB;
  border: 1px solid black;
}
/********************* previous next pager on slide **********************/
div.ddblock-cycle-navigator10p div.pager-slide{
  height: 41px;
  position: absolute;
  width:41px;
  z-index:50;
}
div.ddblock-cycle-navigator10p div.pager-slide a{
  display:block;
  height:41px;
  opacity: 1;
  width:41px;
}
div.ddblock-cycle-navigator10p div.next-container a.next{
  background: url(images/arrow.png) no-repeat -41px 0;
}
div.ddblock-cycle-navigator10p div.prev-container a.prev{
  background: url(images/arrow.png) no-repeat 0px 0px;
}
div.ddblock-cycle-navigator10p div.next-container a.next:hover{
  background: url(images/arrow.png) no-repeat -41px -41px;
  opacity:1;
}
div.ddblock-cycle-navigator10p div.prev-container a.prev:hover{
  background: url(images/arrow.png) no-repeat 0px -41px;
  opacity:1;
}
div.ddblock-cycle-navigator10p div.pager-slide a:focus{
  outline:none;
} 
div.ddblock-cycle-navigator10p div.spacer-horizontal{
  background-color:#ccc;
  clear:both;
  height:5px;
}
/********************* spacers **********************/
div.ddblock-cycle-navigator10p div.spacer-vertical{
  background-color:transparent;
  display:block;
  float:left;
  height:27px;
  width:10px;
}
div.ddblock-cycle-navigator10p div.spacer-horizontal{
  background-color:transparent;
  clear:both;
  height:10px;
}
